.Header{
    width: 100%;
    height: 120px;
    background-color: rgb(230, 244, 244);
    position: relative;
    top: 0;
    box-sizing: border-box;
    .serchInput{
        width: 400px;
        position: relative;
        left:20px;
        top: 30px;
    }
    .btn{
        position: relative;
        left: 1020px;
    }
}