.Main{
    // margin: 0;
    width: 100%;
    position: relative;
    height: auto;
    display: flex;
    .left{
        width: 18%;
        // flex: 1;
        position: fixed;
        display: inline-block;
        // height: 750px;
        left: 0;
        top: 0;
        bottom: 0;
    }
    .right{
        // width: 100%;
        flex: 4;
        position: relative;
        left: 18%;
    }
}