.Content{
    overflow: auto;
    margin-top: 20px;
    .Item{
        width: 80%;
        margin: 10px auto;
    }
    ul{
        margin: 18px auto 0;
        text-align: center;
        font-size: 22px;
    }
}