body {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
  width: 1500px;
  /* border: 1px solid lightcoral; */
  /* height: 00px; */
}
#root{
  width: 100%;
  height:auto;
  
}
html{
  overflow-x: hidden;
  /* width: 1200px; */
}

